.App{
    height:100vh;
    width:100vw;
    background-color: grey;
    display:flex;
    justify-content: center;
    align-items: center;
}
.CalculatorApp{
    height:80%;
    width:50%;
    background-color: white;
    border:2px solid black;

}
.calculatorInnerDisplay{
    background-color:bisque;
    border: 2px solid black;
    display:flex;
    justify-content: center;
    height:40px;
    padding:5px;
    margin:5px;
}
.calculatorDisplay{
    width:15rem;

}
.calculatorName{
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
    text-align: center;
}